.home-container {
  /* background-color: gray; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../assets/van-montain.png"), no-repeat;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-position: center; */
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.home-title {
  font-size: 50px;
}

.home-text {
  font-size: 20px;
}

.home-btn {
  background-color: orange;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  border: none;
}

.home-btn a {
  display: block;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
