nav {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.logo-side {
  margin-right: auto;
}

.logo-side a {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.right-side {
  display: flex;
  align-items: center;
}

.right-side a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.right-side a:hover {
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
}
